@model IEnumerable<WebApplication1.Models.Wallet>

@{
    ViewData["Title"] = "Кошельки";
}

<table style="width:100%;">
    <tr>
        <td align="left"><h2>Кошельки</h2></td>
        <td align="right"><a style="color:#ff0000" asp-controller="Wallets" asp-action="IndexDelete"><p align="right">Удаленные</p></a></td>
    </tr>
</table>

<h3>Фирмы</h3>

<p>
    <a asp-action="CreateWalletFirm">Добавить кошелек фирмы</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:20%;">
                Название кошелька
            </th>
            <th style="width:20%;">
                Фирма
            </th>
            <th style="width:20%;">
                Валюта
            </th>
            <th style="width:20%;">
                Баланс
            </th>
            <th style="width:20%;">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.FirmID != null)
            {

                <tr>
                    <td>
                        <a asp-controller="Wallets" asp-route-id="@item.WalletID" asp-action="Details">
                            @Html.DisplayFor(modelItem => item.WalletName)
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Firms" asp-route-id="@item.Firm.FirmID" asp-action="Details">
                            @Html.DisplayFor(modelItem => item.Firm.FirmName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Действия
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a asp-action="Edit" asp-route-id="@item.WalletID">Изменить</a></li>
                                    <li><a asp-action="Details" asp-route-id="@item.WalletID">Детали</a></li>
                                    <li><a asp-action="Delete" asp-route-id="@item.WalletID">Удалить</a></li>
                                    <li><a asp-controller="Transactions" asp-route-id="@item.WalletID" asp-action="Create">Перевод между кошельками</a></li>
                                    <li><a asp-controller="Transactions" asp-route-id="@item.WalletID" asp-action="CreateOneSideTransaction">Одиночный перевод</a></li>
                                    <li><a asp-controller="Transactions" asp-route-id="@item.WalletID" asp-action="IndexIndividual">Выписка</a></li>
                                </ul>
                            </div>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<h3>Сотрудники</h3>

<p>
    <a asp-action="CreateWalletUser">Добавить кошелек сотрудника</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th style="width:20%;">
                Название кошелька
            </th>
            <th style="width:20%;">
                Сотрудник
            </th>
            <th style="width:20%;">
                Валюта
            </th>
            <th style="width:20%;">
                Баланс
            </th>
            <th style="width:20%;">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.UserId != null)
            {
                <tr>
                    <td>
                        <a asp-controller="Wallets" asp-route-id="@item.WalletID" asp-action="Details">
                            @Html.DisplayFor(modelItem => item.WalletName)
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Users" asp-route-id="@item.User.Id" asp-action="Details">
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                            @Html.DisplayFor(modelItem => item.User.LastName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Действия
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a asp-action="Edit" asp-route-id="@item.WalletID">Изменить</a><br>
                                <a asp-action="Details" asp-route-id="@item.WalletID">Детали</a><br>
                                <a asp-action="Delete" asp-route-id="@item.WalletID">Удалить</a><br>
                                <a asp-controller="Transactions" asp-route-id="@item.WalletID" asp-action="Create">Перевод между кошельками</a><br>
                                <a asp-controller="Transactions" asp-route-id="@item.WalletID" asp-action="CreateOneSideTransaction">Одиночный перевод</a><br>
                                <a asp-controller="Transactions" asp-route-id="@item.WalletID" asp-action="IndexIndividual">Выписка</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>Остальные</h3>

<p>
    <a asp-action="CreateWalletOther">Добавить кошелек</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th style="width:20%;">
                Название кошелька
            </th>
            <th style="width:20%;">
            </th>
            <th style="width:20%;">
                Валюта
            </th>
            <th style="width:20%;">
                Баланс
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.FirmID == null & item.UserId == null)
            {
                <tr>
                    <td>
                        <a asp-controller="Wallets" asp-route-id="@item.WalletID" asp-action="Details">
                            @Html.DisplayFor(modelItem => item.WalletName)
                        </a>
                    </td>
                    <td>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Действия
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a asp-action="Edit" asp-route-id="@item.WalletID">Изменить</a><br>
                                <a asp-action="Details" asp-route-id="@item.WalletID">Детали</a><br>
                                <a asp-action="Delete" asp-route-id="@item.WalletID">Удалить</a><br>
                                <a asp-controller="Transactions" asp-route-id="@item.WalletID" asp-action="Create">Перевод между кошельками</a><br>
                                <a asp-controller="Transactions" asp-route-id="@item.WalletID" asp-action="CreateOneSideTransaction">Одиночный перевод</a><br>
                                <a asp-controller="Transactions" asp-route-id="@item.WalletID" asp-action="IndexIndividual">Выписка</a>
                            </div>
                        </div>
                    </td>
                </tr>
             }
         }
    </tbody>
</table>
<br>
<br>
<h4>Количество кошельков: @Model.Count()</h4>
