@model IEnumerable<WebApplication1.Models.Transaction>
@{
    ViewData["Title"] = "Транзакции";
}
<h2>Транзакции @ViewData["WalletIndividual"]</h2>

<p>
    <a asp-action="Index">Все транзакции</a>
</p>
<p>
    <a asp-action="Create" asp-route-id=1>Перевод между кошельками</a>
</p>
<p>
    <a asp-action="CreateOneSideTransaction" asp-route-id=1>Одиночный перевод</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th style="width:4%;">
                ID
            </th>
            <th style="width:9%;">
                Сумма
            </th>
            <th style="width:9%;">
                Имя кошелька
            </th>
            <th style="width:9%;">
                Номер кошелька
            </th>
            <th style="width:9%;">
                Дата
            </th>
            <th style="width:9%;">
                Комментарий
            </th>
            <th style="width:9%;">
                Курс
            </th>
            <th style="width:9%;">
                Тип операции
            </th>
            <th style="width:9%;">
                Сумма в валюте отправителя
            </th>
            <th style="width:9%;">
                Сумма в валюте получателя
            </th>
            <th style="width:9%;">
                Связанная транзакция
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reverse())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlusMinus)
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wallet.WalletName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wallet.WalletID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountInCurrencySender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountInCurrencyRecipient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelatedTransaction.TransactionID)
                </td>
            </tr>
        }
    </tbody>
</table>
<br>
<br>
<h4>Количество транзакций: @Model.Count()</h4>
