@model IEnumerable<WebApplication1.Models.Invoice>

@{
    ViewData["Title"] = "Инвойсы";
}

<table style="width:100%;">
    <tr>
        <td align="left"><h2>Инвойсы</h2></td>
        <td align="right"><a style="color:#ff0000" asp-controller="Invoices" asp-action="IndexDelete"><p align="right">Удаленные</p></a></td>
    </tr>
</table>

<p>
    <a asp-action="Create">Добавить инвойс</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:10%;">
                Проект
            </th>
            <th style="width:10%;">
                Клиент
            </th>
            <th style="width:10%;">
                Дата создания
            </th>
            <th style="width:10%;">
                Ожидаемая стоимость проекта
            </th>
            <th style="width:10%;">
                Реальная стоимость проекта
            </th>
            <th style="width:10%;">
                Ожидаемая дата оплаты
            </th>
            <th style="width:10%;">
                Реальная дата оплаты
            </th>
            <th style="width:10%;">
                Комментарий
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Projects" asp-route-id="@item.Project.Id" asp-action="Details">
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountWait)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountReal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePaymentWait)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePaymentReal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InvoiceID">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.InvoiceID">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.InvoiceID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br>
<br>
<h4>Количество инвойсов: @Model.Count()</h4>
