@model WebApplication1.Models.Task

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <h2>Удалить задачу</h2>

    <h3>Вы уверены, что хотите удалить задачу?</h3>
    <div>
        <h4>Task</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Название
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                Комментарий
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                Исполнитель
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
            <dt>
                Отработано часов
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Hours)
            </dd>
            <dt>
                Дата
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                Проект
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Project.Name)
            </dd>
            <dt>
                Выполняет
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.FirstName)
                @Html.DisplayFor(model => model.User.LastName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-controller="ProjectTasks" asp-action="Index">Отмена</a>
        </form>
    </div>

</div>
