@model WebApplication1.Models.Task

@{
    ViewData["Title"] = "Детали задачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

<h2>Детали задачи</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Комментарий
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Дата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Проект
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt>
            Выполняет
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-controller="ProjectTasks" asp-action="Index">Назад</a>
</div>

</div>