@model IEnumerable<WebApplication1.Models.Project>
@{
    ViewData["Title"] = "Проекты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Проекты</h2>

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Статус: </label>
        @Html.DropDownList("status", ViewBag.Status as SelectList,
                htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                    Название
                </a>
            </th>
            <th>
                Комментарий
            </th>
            <th>
                Дата
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CostSort">
                    Стоимость
                </a>
            </th>
            <th>
                Статус
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="SotrudnikProjectTasks" asp-action="Index" asp-route-project="@item.Id"> @Html.DisplayFor(modelItem => item.Name) </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
<br>
<br>
<h4>Количество проектов: @Model.Count()</h4>
