@model WebApplication1.Models.User
@{
    ViewData["Title"] = "Удалить";
}
<div class="container">
    <h2>Удалить</h2>
    <h3>Вы уверены, что хотите удалить кошелек?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Почта
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                Никнейм
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>
                Имя
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                Отчество
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MiddleName)
            </dd>
            <dt>
                Фамилия
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                Фирма
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Firm.FirmName)
            </dd>
            <dt>
                Год рождения
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt>
                Дата регистрации
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateImployment)
            </dd>
            <dt>
                Процент
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Percent)
            </dd>
            <dt>
                Должность
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Post)
            </dd>
            <dt>
                Номер телефона
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt>
                Кошелек, Валюта,<br>
                Баланс
            </dt>
            <dd>
                @foreach (var wallet in Model.Wallets)
                {
                    @Html.DisplayFor(walletItem => wallet.WalletName)<a>, </a>
                    @Html.DisplayFor(walletItem => wallet.Currency)<a>, </a>
                    @Html.DisplayFor(walletItem => wallet.Balance)
                    <br>
                }
            </dd>
            <dt>
                Проект, Задача
            </dt>
            <dd>
                @foreach (var task in Model.Tasks)
                {
                    @Html.DisplayFor(taskItem => task.Project.Name)<a>, </a>
                    @Html.DisplayFor(taskItem => task.Name)
                    <br>
                }
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-action="Index">Отмена</a>
        </form>
    </div>
</div>
