@model WebApplication1.Models.User
@{
    ViewData["Title"] = "Детали сотрудника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Детали сотрудника</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>
                Почта
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                Никнейм
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>
                Имя
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                Отчество
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MiddleName)
            </dd>
            <dt>
                Фамилия
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                Фирма
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Firm.FirmName)
            </dd>
            <dt>
                Год рождения
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt>
                Дата регистрации
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateImployment)
            </dd>
            <dt>
                Процент
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Percent)
            </dd>
        </dl>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Действия
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a></li>
                <li><a asp-action="Delete" asp-route-id="@Model.Id">Удалить</a></li>
            </ul>
            |  <a asp-action="Index">Список сотрудников</a>
        </div>
    </div>
</div>
