@model IEnumerable<WebApplication1.Models.User>

@{
    ViewBag.Title = "Сотрудники";
}

<table style="width:100%;">
    <tr>
        <td align="left"><h2>Сотрудники</h2></td>
        <td align="right"><a style="color:#ff0000" asp-controller="Users" asp-action="IndexDelete"><p align="right">Удаленные</p></a></td>
    </tr>
</table>

    <a asp-action="Create">Добавить сотрудника</a>

    <table class="table">
        <thead>
            <tr>
                <th style="width:7%;">
                    Никнейм
                </th>
                <th style="width:7%;">
                    Имя
                </th>
                <th style="width:7%;">
                    Отчество
                </th>
                <th style="width:7%;">
                    Фамилия
                </th>
                <th style="width:7%;">
                    Год рождения
                </th>
                <th style="width:7%;">
                    Дата регистрации
                </th>
                <th style="width:7%;">
                    Фирма
                </th>
                <th style="width:12%;">
                    Название кошелька
                </th>
                <th style="width:7%;">
                    Валюта
                </th>
                <th style="width:7%;">
                    Баланс
                </th>
                <th style="width:7%;">
                    Задачи
                </th>
                <th style="width:7%;">
                    Проекты
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateImployment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firm.FirmName)
                </td>
                <td>
                    <nobr>
                        @foreach (var wallet in item.Wallets)
                        {

                            @Html.DisplayFor(walletItem => wallet.WalletName)
                            <br>
                        }
                    </nobr>
                </td>
                <td>
                    <nobr>
                        @foreach (var wallet in item.Wallets)
                        {

                            @Html.DisplayFor(walletItem => wallet.Currency)
                            <br>
                        }
                    </nobr>
                </td>
                <td>
                    <nobr>
                        @foreach (var wallet in item.Wallets)
                        {

                            @Html.DisplayFor(walletItem => wallet.Balance)
                            <br>
                        }
                    </nobr>
                </td>
                <td>
                    <nobr>
                        @foreach (var task in item.Tasks)
                        {

                            @Html.DisplayFor(taskItem => task.Name)
                            <br>
                        }
                    </nobr>
                    
                </td>
                <td>
                    <nobr>
                        @foreach (var task in item.Tasks)
                        {

                            @Html.DisplayFor(taskItem => task.Project.Name)
                            <br>
                        }
                    </nobr>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
            }

        </tbody>
    </table>
    <br>
    <br>
    <h4>Количество сотрудников: @Model.Count()</h4>

