@model IEnumerable<WebApplication1.Models.User>

@{
    ViewBag.Title = "Сотрудники";
}

<table style="width:100%;">
    <tr>
        <td align="left"><h2>Сотрудники</h2></td>
        <td align="right"><a style="color:#ff0000" asp-controller="Users" asp-action="IndexDelete"><p align="right">Удаленные</p></a></td>
    </tr>
</table>

    <a asp-action="Create">Добавить сотрудника</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:6%;">
                    Никнейм
                </th>
                <th style="width:6%;">
                    Имя
                </th>
                <th style="width:6%;">
                    Отчество
                </th>
                <th style="width:6%;">
                    Фамилия
                </th>
                <th style="width:6%;">
                    Год рождения
                </th>
                <th style="width:6%;">
                    Дата регистрации
                </th>
                <th style="width:6%;">
                    Фирма
                </th>
                <th style="width:12%;">
                    Название кошелька
                </th>
                <th style="width:6%;">
                    Валюта
                </th>
                <th style="width:6%;">
                    Баланс
                </th>
                <th style="width:6%;">
                    Проекты
                </th>
                <th style="width:6%;">
                    Задачи
                </th>
                <th style="width:6%;">
                    Процент
                </th>
                <th style="width:6%;">
                    Должность
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateImployment)
                </td>
                <td>
                    <a asp-controller="Firms" asp-route-id="@item.FirmID" asp-action="Details">
                        @Html.DisplayFor(modelItem => item.Firm.FirmName)
                    </a>
                </td>
                <td>
                    <nobr>
                        @foreach (var wallet in item.Wallets)
                        {
                            <a asp-controller="Wallets" asp-route-id="@wallet.WalletID" asp-action="Details">
                                @Html.DisplayFor(walletItem => wallet.WalletName)
                            </a>
                            <br>
                        }
                    </nobr>
                </td>
                <td>
                    <nobr>
                        @foreach (var wallet in item.Wallets)
                        {

                            @Html.DisplayFor(walletItem => wallet.Currency)
                            <br>
                        }
                    </nobr>
                </td>
                <td>
                    <nobr>
                        @foreach (var wallet in item.Wallets)
                        {

                            @Html.DisplayFor(walletItem => wallet.Balance)
                            <br>
                        }
                    </nobr>
                </td>
                <td>
                    <nobr>
                        @foreach (var task in item.Tasks)
                        {

                            <a asp-controller="Projects" asp-route-id="@task.Project.Id" asp-action="Details">
                                @Html.DisplayFor(taskItem => task.Project.Name)
                            </a>
                            <br>
                        }
                    </nobr>
                </td>
                <td>
                    <nobr>
                        @foreach (var task in item.Tasks)
                        {
                            <a asp-controller="Tasks" asp-route-id="@task.Id" asp-action="Details">
                                @Html.DisplayFor(taskItem => task.Name)
                            </a>
                            <br>
                        }
                    </nobr>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post)
                </td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Действия
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <li><a asp-action="Edit" asp-route-id="@item.Id">Изменить</a></li>
                            <li><a asp-action="Details" asp-route-id="@item.Id">Детали</a></li>
                            <li><a asp-action="Delete" asp-route-id="@item.Id">Удалить</a></li>
                            <li><a asp-controller="Roles" asp-action="Edit" asp-route-userid="@item.Id">Роли</a></li>
                            <li><a asp-action="ChangePassword" asp-route-id="@item.Id">Сменить пароль</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            }

        </tbody>
    </table>
    <br>
    <br>
    <h4>Количество сотрудников: @Model.Count()</h4>

