@model IEnumerable<WebApplication1.Models.User>

@{
    ViewBag.Title = "Сотрудники";
}

<table style="width:100%;">
    <tr>
        <td align="left"><h2 style="color:#ff0000">Удаленные сотрудники</h2></td>
        <td align="right"><a asp-controller="Users" asp-action="Index"><p align="right">Назад</p></a></td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:7%;">
                Никнейм
            </th>
            <th style="width:7%;">
                Имя
            </th>
            <th style="width:7%;">
                Отчество
            </th>
            <th style="width:7%;">
                Фамилия
            </th>
            <th style="width:7%;">
                Год рождения
            </th>
            <th style="width:7%;">
                Дата регистрации
            </th>
            <th style="width:7%;">
                Процент
            </th>
            <th style="width:7%;">
                Должность
            </th>
            <th style="width:12%;">
                Номер телефона
            </th>
            <th style="width:7%;">
                Фирма
            </th>
            <th style="width:12%;">
                Название кошелька
            </th>
            <th style="width:7%;">
                Валюта
            </th>
            <th style="width:7%;">
                Баланс
            </th>
            <th style="width:7%;">
                Задачи
            </th>
            <th style="width:7%;">
                Проекты
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)<br>
                    @Html.DisplayFor(modelItem => item.FirstName)<br>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateImployment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firm.FirmName)
                </td>
                <td><nobr>
                    @foreach (var wallet in item.Wallets)
                    {

                        @Html.DisplayFor(walletItem => wallet.WalletName)
                        <br>
                    }
                </nobr></td>
                <td><nobr>
                    @foreach (var wallet in item.Wallets)
                    {

                        @Html.DisplayFor(walletItem => wallet.Currency)
                        <br>
                    }
                </nobr></td>
                <td><nobr>
                    @foreach (var wallet in item.Wallets)
                    {

                        @Html.DisplayFor(walletItem => wallet.Balance)
                        <br>
                    }
                </nobr></td>
                <td>
                    <nobr>
                        @foreach (var task in item.Tasks)
                        {
                            <a asp-controller="Tasks" asp-route-id="@task.Id" asp-action="Details">
                                @Html.DisplayFor(taskItem => task.Name)
                            </a>
                            <br>
                        }
                    </nobr>

                </td>
                <td>
                    <nobr>
                        @foreach (var task in item.Tasks)
                        {

                            <a asp-controller="Projects" asp-route-id="@task.Project.Id" asp-action="Details">
                                @Html.DisplayFor(taskItem => task.Project.Name)
                            </a>
                            <br>
                        }
                    </nobr>
                </td>
                <td>
                    <form asp-action="Undelete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-success">
                            Восстановить
                        </button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>
<br>
<br>
<h4>Количество удаленных сотрудников: @Model.Count()</h4>

