@model WebApplication1.Models.Project

@{
    ViewData["Title"] = "Детали проекта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <h2>Детали проекта</h2>

    <div>
        <dl class="dl-horizontal">
            <dt>
                Название
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                Комментарии
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                Дата
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                Стоимость
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cost)
            </dd>
        </dl>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Действия
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a></li>
                <li><a asp-action="Delete" asp-route-id="@Model.Id">Удалить</a></li>
                <li><a asp-controller="ProjectTasks" asp-action="Index" asp-route-project="@Model.Id">Задачи проекта</a></li>
            </ul>
            |  <a asp-action="Index">Список проектов</a>
        </div>
    </div>

</div>
